# Ignore bin and obj folders
**/bin/
**/obj/
**/.vs/

# Ignore debug files
*.suo
*.user
*.sln.docstates
taskmanger.db-shm 
.vs/TaskManager/FileContentIndex/fe643db6-dbbf-46ad-8722-dab791b49b4f.vsidx
.vs/TaskManager/v17/TestStore/0/001.testlog
taskmanger.db-wal
.vs/ProjectEvaluation/taskmanager.metadata.v7.bin
.vs/ProjectEvaluation/taskmanager.projects.v7.bin
.vs/TaskManager/DesignTimeBuild/.dtbcache.v2
taskmanager.db
/taskmanger.db
