@page
@model TaskManager.Pages.Account.AboutModel
<!DOCTYPE html>
<html>
<head>
	<title>User Detail</title>
</head> 
<body> 
	<h1> About  </h1> 

	<!-- Display validation summary if there are model errors -->
	<div asp-validation-summary="All" class="text-danger"></div>

	<form method="post">
		<button type="submit" class="btn btn-primary" asp-page-handler="post">Log out</button>
		<button type="submit" name="deleteUserButton" asp-page-handler="delete" class="btn btn-danger">Delete My Account</button>
	</form>
</body>
</html>