@page
@model TaskManager.Pages.Account.LogoutModel
<!DOCTYPE html>
<html>
<head>
    <title>Logout</title>
</head>
<body>
    <h1>User Logout</h1>

    <!-- Display validation summary if there are model errors -->
    <div asp-validation-summary="All" class="text-danger"></div>

    <form method="post"> 
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Log out</button>
        @* <button type="submit" name="deleteUserButton" class="btn btn-danger">Delete User</button> *@
    </form> 
</body>
</html>